<a href="https://colab.research.google.com/github/YinkaOlusola/Activity1/blob/master/YinkaAkindele.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [3]:
data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [4]:
A = [1,2,3,4,5,6]
B = [13,21,34]

In [5]:
A.extend(B)

In [6]:
A_B = A
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [7]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [8]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [9]:
data1 = data.groupby('fuel_type_code_pudl')

In [10]:
data1.mean()

                     utility_id_ferc1  ...  fuel_cost_per_mmbtu
fuel_type_code_pudl                    ...
coal                       115.637534  ...             1.787190
gas                        124.122062  ...             5.408876
nuclear                    107.397311  ...             1.716559
oil                        113.236235  ...            12.698732
other                      110.467066  ...           155.084910
waste                      154.253968  ...           822.709937

[6 rows x 7 columns]

In [11]:
data['fuel_mmbtu_per_unit'].std()

10.600220307806886

In [12]:
np.percentile(data['fuel_mmbtu_per_unit'], 75)

17.006

In [13]:
stats.skew(data['fuel_qty_burned'])

15.850690077422112

In [14]:
stats.kurtosis(data['fuel_qty_burned'])

651.2589365474387

In [15]:
data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [16]:
(data['fuel_unit'].isnull().sum()/len(data['fuel_unit']))*100

0.609694136774718

In [17]:
(data['fuel_unit'].isnull().sum()/data['fuel_unit'].count())*100

0.6134342091810653

In [18]:
data['fuel_unit']

0        ton
1        ton
2        ton
3        ton
4        mcf
        ...
29518    mcf
29519    mcf
29520    mcf
29521    ton
29522    mcf
Name: fuel_unit, Length: 29523, dtype: object

In [19]:
data.corr()['fuel_cost_per_unit_burned']

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

In [20]:
data3 = data.groupby('report_year')

In [21]:
data3.mean()['fuel_cost_per_unit_delivered']

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [22]:
data5 = data.groupby('report_year').mean()['fuel_cost_per_unit_burned']

In [23]:
((data5[1998] - data5[1994])/data5[1994])*100

-40.57773189068034